# We don't want compiled stuff in here!
/bin

# Also ignore build folder
/build

# Ignore eclipse specific files
.classpath
.project
.settings

# Ignore mac-specific file(s)
.DS_Store

# Ignore other files that aren't supposed to be here
