# We don't want compiled stuff in here!
/bin
doc/info.txt

# Also ignore build and run folder
/build
/run

# Ignore build number
build_number.properties

# Ignore eclipse specific files
.classpath
.project
.settings

# Ignore mac-specific file(s)
.DS_Store

# Ignore other files that aren't supposed to be here
.pydevproject

# Ignore forge gradle stuff
eclipse/*
.gradle/*
