sudo: false
language: java
jdk: oraclejdk8
notifications:
  email: false
  slack:
    secure: cDk5pDTAn+wmceFI3leNmM6hPelpvHKSt6PhUvq83lH/6Lz4a/wgYz7bMS9LnnN1AEaIQOYYl4Ty/uqfciWlaCREFrkXD4x31zfI0eig91/wsraeBlo216DEHfwG0I82t3R2PhXR04EnYX+vTWZ7Qv0sLbBdb+H+KN59catWazc=
env:
  global:
  - TERM=dumb

before_install: '[ "${TRAVIS_PULL_REQUEST}" != "false" ] || openssl aes-256-cbc -K $encrypted_ce9429f4f8d8_key -iv $encrypted_ce9429f4f8d8_iv -in keystore.jks.enc -out keystore.jks -d'
install: ./gradlew setupCIWorkspace -S
script: ./gradlew build -S

cache:
  directories:
    - '$HOME/.m2'
    - '$HOME/.gradle'
before_cache:
    - rm -f $HOME/.gradle/caches/*/*.lock

branches:
  except:
  - /^release-.*$/

deploy:
  - provider: script
    skip_cleanup: true
    script: ./gradlew curseforge -S
    on:
      all_branches: true
      repo: CyclopsMC/EvilCraft
      tags: true
  - provider: releases
    skip_cleanup: true
    api_key:
      secure: A+23PDJUKg1CU28NmXw/YG7qmGDIrys1GuyuDuodK2AjBjT191GJWyr6mB0VV0uWo+/3H6FhDQNCLvKZ+0aphLRPMfLlNb4pBw31l7PFsJjsqF3/5BXNqXwCxxEWPLWAI85Pbt9bQX8BlTrQXeFast49opb0kWAlE3hh4E3yr1M=
    on:
      all_branches: true
      repo: CyclopsMC/EvilCraft
      tags: true
  - provider: script
    skip_cleanup: true
    script: ./gradlew uploadArchives -S
    on:
      all_branches: true
      repo: CyclopsMC/EvilCraft
      condition: "$TRAVIS_BRANCH =~ ^(master|release|feature-).*$"
